.EditorView .ant-tabs-nav {
  margin-bottom: 0 !important;
}

.EditorView .ant-tabs-tab {
  background: linear-gradient(to bottom, #291e34, #332547) !important;
  color: white !important;
}

.EditorView .ant-tabs-tab-active {
  background: white !important;
}

.EditorView .ant-tabs-tab-active .ant-tabs-tab-remove {
  color: black !important;
}

.EditorView .ant-tabs-tab:not(.ant-tabs-tab-active) .ant-tabs-tab-remove {
  color: white !important;
}

.EditorView .ant-tabs-nav-add {
  color: white !important;
}
