.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

/* Custom Menu */
.menu {
  display: block;
  margin: 10 auto;
  list-style-type: none;
  padding-left: 0;
  width: 95%;
  font-size: 13px;
}

/*.menu > li > span {*/
/*  color: #fff;*/
/*  text-align: center;*/
/*  text-decoration: none;*/
/*}*/

.menu ul {
  /* submenu */
  left: 0;
  opacity: 1;
  list-style-type: none;
  padding-left: 0;
  margin-left: 10px;
}

.display-none {
  display: none;
}

.menu > li,
.parent-menu {
  margin-top: 10px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.single-menu-item:hover {
  background-color: #30233d;
  cursor: pointer;
  border-radius: 5px;
}

.menu-selected {
  background-color: #07020e;
  font-weight: bold;
  border-radius: 5px;
}

.menu ul span {
  display: block;
  padding: 0;
  margin: 10px;
}

.parent-menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ant-layout-sider .center-div {
  display: flex;
  justify-content: center;
}
