/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 07030e, 221443 */

body {
    margin: 0;
}

#root {
    height: '100%'
}

.ant-menu-item-selected {
    background-color: #07030e !important;
}

.ant-layout-sider-dark {
    background-color: #221443 !important;
    border-right: 1px solid #160c2d;
}

.ant-menu {
    background-color: #221443 !important;
}

.ant-layout {
    background-color: #181818 !important;
    color: #fff;
}

.ant-layout-header {
    background-color: #221443 !important;
    border-bottom: 1px solid #160c2d;
}

.ql-editor {
    background-color: #07030e !important;
    color: #fff;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.ql-toolbar.ql-snow {
    background-color: #221443 !important;
    border: 0 !important;
    color: #fff !important;
}

.ql-container.ql-snow {
    border: 0 !important;
}